<style>
    .card-img{
        overflow: hidden;
    }
    .card-img:hover img{
        transform: scale(1.5);
    }
    .card-img img{
        transition: all 2s;
        cursor: pointer;
        height: 200px;
        
    }
</style>

{% extends 'layout.html' %}

{% block title %}
<title>Ecommerce - ProductPage</title>

{%endblock%}

{% block main_content %}

<!-- card start  -->
<div class="container-fluid">
    <p class="display-6 text-center mt-5 font-weight-bold">Shop Now</p>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        {% for product in products %}
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-img">
                    <img src="/{{product.image}}"
                        class="card-img-top" alt="{{product.product_name}}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <h6 class="card-title">Rs.{{product.product_price}}</h6>
                    <a href="" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
       
    </div>
</div>
<!-- card end -->


{% endblock %}