
{% extends 'admins/layout.html' %}


{% block main_content %}

<div class="container-fluid">
    <h2 class="text-center my-3 text-muted">
        Admin Dashboard
    </h2>
    <div class="row d-flex">
        <div class="col-md-6 col-xl-4 mb-4">
            <a href="# " class="text-decoration-none">
                <div class="card shadow-lg border-0 py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-pramiry fw-bold text-xs mb-1 text-center">
                                    <span>
                                        Total Orders
                                    </span>
                                </div>
                                <div class="text-secondary fw-bold mb-0 text-center">
                                    <span>
                                        Delivered:0
                                    </span>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fab fa-first-order-alt fs-1 text-success fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-xl-4 mb-4">
            <a href="# " class="text-decoration-none">
                <div class="card shadow-lg border-0 py-2 bg-warning">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-white fw-bold text-xs mb-1 text-center">
                                    <span>
                                        Total Users
                                    </span>
                                </div>
                                <div class="text-light fw-bold mb-0 text-center">
                                    <span>
                                        Deactivated:0
                                    </span>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-users fs-1 text-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-xl-4 mb-4">
            <a href="# " class="text-decoration-none">
                <div class="card shadow-lg border-0 py-2 bg-success">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-white fw-bold text-xs mb-1 text-center">
                                    <span>
                                        Total Products
                                    </span>
                                </div>
                                <div class="text-white fw-bold mb-0 text-center">
                                    <span>
                                        Sold:0
                                    </span>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-globe fs-1 text-light fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>

</div>


{% endblock %}